<!DOCTYPE html>
<html>
<head>
    <title> Basketball Stats Tracker </title>

</head>

<body>
    <h1> Add Player </h1>
    <p> Add a player's Statistics</p>
    <form method="POST" action="/add_players">
        
        <input type="text" name="name" placeholder="Player Name">

        <br><br>

        <input type="number" name="points" placeholder="Points">
        
        <br><br>

        <input type="number" name="rebounds" placeholder="Rebounds">

        <br><br>

        <input type="number" name="assists" placeholder="Assists">

        <br> <br>  

        <input type="number" name="blocks" placeholder="Blocks">

        <br> <br>

        <input type="number" name="steals" placeholder="Steals">

        <br> <br>

        <input type="number" name="games" placeholder="Games Played">

        <button type="submit">Add Player</button>


        
        
    </form>

    <br>

    <a href="/view_players">View Players</a>
    
    
   


</body>

</html>